# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
HR-env/
venv/
.env

# Dataset
datasets/DIV2K/
datasets/router_dataset.csv

# Model weights
model_weights/
*.pth
*.pkl
*.pt
*.ckpt

# Outputs
output/
outputs/
results/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
